<div class="js">
    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <app-nav></app-nav>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-page-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="about_us_content_title">
                        <h2>track your parcel</h2>
                        <h5>check where your parcel has reached </h5>
                    </div>
                </div>
            </div>
            <div class="welcome_form col-md-6 col-sm-6 col-xs-6" >
                <form action="#">
                    <input class="form-control" type="text" placeholder="Enter your product code">
                    <input class="submit" type="submit" value="Track your product">
                </form>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>