<div class="js">
    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <app-nav></app-nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing Area -->
    <section class="about_top ">
        <div class="container">
            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Order Summary</h2>
                                <p>We offer fast and affordable parcel delivery services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row" *ngFor="let parcel of parcels">
                        <div class="col-md-12" id="col">
                            <ul class="list-group  my-details">
                                <li class="list-group-item"><b>Name:</b>
                                    {{parcel.name}}
                                </li>
                                <li class="list-group-item"> <b>Description:</b>
                                    {{parcel.description}}
                                </li>
                                <li class="list-group-item"><b>Price:</b>
                                    {{parcel.price}}
                                </li>
                                <li class="list-group-item"> <b>Weight: </b>
                                    {{parcel.weight}}
                                </li>
                                <li class="list-group-item"><b>Parcel Status:</b>
                                    {{parcel.parcel_status}}
                                </li>
                                <li class="list-group-item"> <b>Destination:</b>
                                    {{parcel.destination}}
                                </li>
                                <li class="list-group-item"><b>Parcel Image:</b>
                                    {{parcel.photo}}
                                </li>
                                <div class="container" id="btns">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="button" class="btn submit-btn" id="btn3" (click)="deleteParcel(parcel)" >Cancel</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn submit-btn" id="btn3" data-toggle="modal"
                                                data-target="#flipFlop">Change </button>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn submit-btn " id="btn3">track</button>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="modal fade p-5" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="modalLabel">Change Destination</h4>
                                </div>
                                <div class="modal-body" >
                                    <form class="form-horizontal" [formGroup]="changeForm" action="" (ngSubmit)="changeDestination(parcel)">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="destination" formControlName="destination"  placeholder="destination" max="250" min="1" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <input type="submit" class="btn submit-btn" value="Resend Parcel">
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Pay Section -->
                </div>
            </div>
        </div>
    </section>

    <!-- The modal -->


    <app-footer></app-footer>
</div>