<div class="js">

    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <app-nav></app-nav>
                </div>
            </div>
        </div>
    </section>


    <!--    start contact page content-->
    <section class="contact-page-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="about_us_content_title">
                        <h2>contact us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="contact-form">
                        <h2 class="contact_page_headings">Send us a message</h2>
                        <form method="post" action="">
                            <input type="text" name="username" placeholder="Your name">
                            <input type="email" name="email_address" placeholder="Email address">
                            <input type="text" name="subject" placeholder="Subject">
                            <textarea name="messages" placeholder="Message"></textarea>
                            
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-offset-1 col-sm-6 col-md-5">
                    <div class="about_car">
                        <img src="/assets/img/wynand-van-poortvliet-kWUZKKBR2Ag-unsplash.jpg" alt="car">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--start footer area-->
    <app-footer></app-footer>
</div>