<div class="js">

    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <app-nav></app-nav>
                </div>
            </div>
        </div>
    </section>

    <section class="about_us_area" id="about">
        <div class="container">
            <div class="row page-title">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="about_us_content_title">
                        <!-- <h2>about us</h2>
                        <h5>know more about us</h5> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about_us_content_title">
                        <h2>about us</h2>
                        <h5>know more about us</h5>
                    </div>
                    <div class="about_us_content" style="font-weight:bold;">
                        <p>looking for a way to get your commodities from one place to another, or from one coner of the world to the other? well look no more,SendIT is here for you.... <br><br> We care, We listen, We deliver. <br><br> our services are reliable, fast and go beyond limits to achieve the set target!. <br><br> uko nyumbani ama kazini? tuko njiani</p>
                        <!-- <a href="#">read more <span class="fa fa-long-arrow-right"></span></a> -->
                    </div>
                </div>
                <div class="col-md-offset-1 col-sm-6 col-md-5">
                    <div class="about_car">
                        <img src="/assets/img/a.jpeg" alt="car">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--start about bottom area-->
    <section class="about-us-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div class="single-about-us-bottom">
                        <h4>what we do</h4>
                        <p>SendIT is a courier service that helps users deliver parcels to different destinations. SendIT provides courier quotes based on weight categories. <br>
                            SendIT app connects you with a broad range of different cities.We help our clients deliver or receive their packages from wherever in the World.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div class="single-about-us-bottom">
                        <h4>our history</h4>
                        <p>SendIT company was founded in 2022 by Chanai Agwata, Michelle Njeri, Maureen Mwangi, Ivy Jeptoo, Caleb Kabaya and Kimberly Olanga.The company began delivery in the same year with the launch of different commodities. SendIT has been known so far for delivering in time and for the food security and confidentiality of our parcels.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div class="single-about-us-bottom">
                        <h4>our mission</h4>
                        <p>SendIT is on a mission to make deliveries effortless for everyone, everywhere. Our service connects customers to speed delivery from over 80 cities around the world. We give people more options when choosing what to deliver and how to deliver their parcels. We help our clients deliver their packages and build their trust in us. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    start client say area-->

    <section class="client-area" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12 col-sm-8">
                    <div class="slients-title">
                        <h2>What our clients say</h2>
                        <p>With over three million packages successfully delivered over time, SendIT Courier & Logistics has created thousands of happy courier delivery service customers throughout the world. Check out the testimonials below to see what some of our customers are saying about working with us....</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-clients">
                        <div class="client-img">
                            <img src="/assets/img/man.png" alt="client">
                        </div>
                        <div class="client-details">
                            <p>“Being a student, I found SendIt to be very affordable. I was sending some parcels to my family in Africa and the price was very accomodative”</p>
                            <h4>John Doe<span>Student</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-clients">
                        <div class="client-img">
                            <img src="/assets/img/woman.png" alt="client">
                        </div>
                        <div class="client-details">
                            <p>“I was running out of time to send my parcel and when I contacted SendIT, my package was delivered within 24 hours considering it was going across the world”</p>
                            <h4>Cheryl Tutu<span>Business woman</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--start footer area-->
    <app-footer></app-footer>
</div>