<!--start footer area-->
<section class="footer-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-12 col-lg-4">
                <div class="single-footer">
                    <h2>About SendIT</h2>
                    <p>We are courier service provider that helps users deliver parcels to different destinations. We
                        provides courier quotes based on weight categories.</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 col-lg-2">
                <div class="single-footer">
                    <h2>More links</h2>
                    <ul class="list">
                        <li><a routerLink='/home' href="">home</a></li>
                        <li><a routerLink='/about' href="">about</a></li>
                        <li><a routerLink='/pricing' href="#">pricing & plans</a></li>
                        <li><a routerLink='/contact' href="#">contact</a></li>
                        <li><a routerLink='/faq' href="#">faqs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                <div class="single-footer">
                    <h2>We Accepts</h2>
                    <div class="footerlogo">
                        <a href=""><img src="/assets/img/cc.png" alt="#"></a>
                        <a href=""><img src="/assets/img/bb.png" alt="#"></a>
                    </div>


                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                <div class="single-footer clearfix">
                    <h2>news letter</h2>
                    <input type="text" class="form-control">
                    <input type="submit" class="submt-button" value="submit">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="copyright-area">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 text-left">
            <div class="footer-text">
                <p>Copyright 2022, All Rights Reserved</p>
            </div>
        </div>
        <div class="col-xs-12  col-sm-6 col-md-6 text-right">
            <div class="footer-text">
                <a href="" class="fa fa-facebook"></a>
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-linkedin"></a>
                <a href="" class="fa fa-instagram"></a>
                <a href="" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
</div>