<div class="js">
    <!-- start header area -->
    <section class="header_area player version2-hero" id="youtube_background" >
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <app-nav></app-nav>
                </div>
            </div>
        </div>
        <!--   start welcome text area     -->
        <div class="table">
            <div class="cell">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="welcome_text version-2">
                                <div class="hero-slider">
                                    <div class="single-hero-slider">
                                        <h1>Get the fastest service </h1>
                                        <h1>for your product</h1>
                                        <div class="welcome_p">
                                            <p>SendIt makes sure your parcels is deliverd as fast as required</p>
                                            <p>Join Us Today</p>
                                        </div>
                                    </div>
                                    <div class="single-hero-slider">
                                        <h1>Get the best tracking services </h1>
                                        <h1>for your product</h1>
                                        <div class="welcome_p">
                                            <p>SendIt allows you to track your  parcels while they are on transit </p>
                                            <p>Join Us Today</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <!-- end of welcome text area-->
    </section>
    <!--end of header area-->

    <!--   start about top area-->
    <section class="about_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="item_icon">
                            <img src="/assets/img/a.png" alt="item">
                        </div>
                        <div class="about_single_item_content">
                            <h4>Fastest Delivery</h4>
                            <p>SendIt makes sure your parcels is deliverd as fast as required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="item_icon">
                            <img src="/assets/img/b.png" alt="item">
                        </div>
                        <div class="about_single_item_content">
                            <h4>Tracking Services </h4>
                            <p> SendIt allows you to track your  parcels while they are on transit </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about_single_item">
                        <div class="item_icon">
                            <img src="/assets/img/c.png" alt="item">
                        </div>
                        <div class="about_single_item_content">
                            <h4>Packaging Services</h4>
                            <p>We provide you with tailor-made solutions to all the flexible packaging and labelling requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    end of about top area-->

    <!--start counter up area-->
    <section class="couter_up_area" id="service">
        <div class="table">
            <div class="cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-3 text-center">
                            <div class="single_count">
                                <h1 class="counter">126</h1>
                                <h5>Satisfied clients</h5>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-md-offset-1 text-center">
                            <div class="single_count">
                                <h1 class="counter">12</h1>
                                <h5>Branches</h5>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-md-offset-1 text-center">
                            <div class="single_count">
                                <h1 class="counter">120</h1>
                                <h5>Active workers</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-md-offset-1 text-center">
                            <div class="single_count">
                                <h1 class="counter">1546</h1>
                                <h5>Product delivered s</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    end of counter up area-->

    <!--    start calculate area-->
    <section class="container" id="tracking">
        <div class="row">
         <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <div class="calculate_title">
                            <h2>Calculate your cost</h2>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
                        </div>
                        <div class="calculate_form">
                            <form action="#">
    
                                <div class="single_calculate">
                                    <input type="text">
                                    <label>weight</label>
                                    <div class="calculate_option">
                                        <select>
                                            <option value="#">cm</option>
                                            <option value="#">ml</option>
                                            <option value="#">cm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="single_calculate">
                                    <label>location</label>
                                    <div class="calculate_option selectpadding">
                                        <select>
                                            <option value="#">to</option>
                                            <!-- <option value="#">ml</option>
                                            <option value="#">cm</option> -->
                                        </select>
                                    </div>
                                    <div class="calculate_option padding-riht">
                                        <select>
                                            <option value="#" selected>form</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="calculat-button">
                                    <input type="submit" class="calulate" value="Calculate your cost now">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="calculat-image">
                <img src="/assets/img/a.jpg" alt="#">
            </div>   
        </div>
     
       
        </div>
    </section>
    <!--    end of calculate area-->


    <!-- Footer section -->
    <app-footer></app-footer>
</div>