
    <!--    start calculate area-->
    <section class="container" id="tracking">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="row" id="rowi">
                        <div class="col-md-5 col-sm-6" id="cols1">
                            <div class="calculate_title">
                                <h2>Calculate your cost</h2>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                    consequat,</p>
                            </div>
                            <div class="calculate_form">
                                <form action="#">

                                    <div class="single_calculate">
                                        <input type="text">
                                        <label>weight</label>
                                        <div class="calculate_option">
                                            <select>
                                                <option value="#">kg</option>
                                               
                                            </select>
                                        </div>
                                    </div>
                                    <div class="single_calculate">
                                        <label>location</label>
                                        <div class="calculate_option selectpadding">
                                            <select>
                                                <option value="#">to</option>
                                                <option value="#">Nakuru</option> 
                                            <option value="#">Naivasha</option> -
                                            </select>
                                        </div>
                                        <div class="calculate_option padding-riht">
                                            <select>
                                                <option value="#" selected>from</option>
                                                <option value="#" selected>Nairobi</option>
                                                <option value="#" selected>Kiambu</option>


                                            </select>
                                        </div>
                                    </div>
                                    <div class="calculat-button">
                                        <input type="submit" class="calulate" value="Calculate your cost now">
                                    </div>
                                    <div class="totla-cost">
                                        <h5>Total Cost: <span>$ 30</span></h5>
                                        <h5>Duration:: <span>3 days</span></h5>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6" id="cols1">
                <div class="calculat-image">
                    <img src="assets/img/a.jpg" alt="#">
                </div>
            </div>


        </div>
    </section>