<div class="js">

    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <app-nav></app-nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing Area -->
    <section class="about_top">
        <div class="container">
            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Send Parcel</h2>
                                <p>We offer fast and affordable parcel delivery services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10" id="col">
                    <form class="form-horizontal" action="" (ngSubmit)="sendParcel()">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" [(ngModel)]="name"  placeholder="name" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9"> 
                                <textarea class="form-control" rows="5" name="description" [(ngModel)]="description" placeholder="description" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="weight"  [(ngModel)]="weight" placeholder="weight (g)" max="250" min="1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="destination"  [(ngModel)]="destination" placeholder="destination" max="250" min="1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="file" class="form-control"  name="photo" [(ngModel)]="photo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="submit" class="btn submit-btn" value="Send Parcel">
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>


<!--  <div class="col-md-6">
                    <div class="row">
                        <h2 class="title">Order Summary</h2>

                        <div class="col-md-12" id="col">
                            <ul class="list-group  my-details">
                                <li class="list-group-item"><b>Name:</b><span></span></li>
                                <li class="list-group-item"> <b>Description:</b>
                                    <span bclass="badge rounded-pill bg-info text-dark">
                                        Test
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-group  my-details">
                                <li class="list-group-item"><b>Price:</b>
                                    <span class="badge rounded-pill bg-info text-dark" ></span>
                                </li>
                                <li class="list-group-item"> <b>Weight:</b>
                                    <span class="badge rounded-pill bg-info text-dark">
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-group  my-details">
                                <li class="list-group-item"><b>Parcel Status:</b><span></span></li>
                                <li class="list-group-item"> <b>Destination:</b>
                                    <span class="badge rounded-pill bg-info text-dark"></span>
                                </li>
                            </ul>
                            <ul class="list-group  my-details">
                                <li class="list-group-item"><b>Parcel Image:</b>
                                    <span></span>
                                </li>
                            </ul>
                            <div class="btns">
                                <button type="button" class="submt-button " id="btn3">Cancel Order </button>
                                <button type="button" class="submt-button " id="btn3">Change Destination </button>
                            </div>
                        </div>
                    </div>
                    <div class="container" id="btns">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
 </div> -->