<div class="js">
    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <app-nav></app-nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing Area -->
    <section class="pricing-area version-6" id="pricing">
        <div class="container">
            <div class="row page-title">
                <div class="col-md-5 col-sm-6">
                    <div class="pricing-desc section-padding-two">
                        <div class="pricing-desc-title">
                            <div class="title">
                                <h2>Pricing & plans</h2>
                                <p>We have affordable and best services are offered at here,</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 text-center">
                    <div class="single-pricing-table">
                        <div class="pricing-title">
                            <h6>PRICING</h6>
                            <h1>50$</h1>
                            <h5>Plus delivery</h5>
                        </div>
                        <ul class=price-list>
                            <li>Shipping fee</li>
                            <li>Pick up from your business.</li>
                            <li>High quality product</li>
                            <li>24/7 Customer service</li>
                        </ul>
                        <div class="order-buton">
                            <a href="#">order now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>