<div class="col-md-6 col-xs-6 col-md-offset-1 col-sm-7 col-lg-offset-1 col-lg-6 mobMenuCol">
    <nav class="navbar">
        <ul class="nav navbar-nav navbar-right menu">
            <li><a href="index.html">home </a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="service.html">services</a></li>
            <li><a href="pricing.html">pricing</a></li>
            <li><a href="tracking.html">tracking</a></li>
            <li><a href="contact.html">contact</a></li>
        </ul>
    </nav>
</div>
<div class="col-md-3 col-sm-3 col-xs-4 col-lg-3 signup">
    <ul class="nav navbar-nav">
        <li><a class='text-center' href="login.html">login</a></li>
    </ul>
</div>