<div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
    <div class="logo">
        <a href="" routerLink="/home"><img src="/assets/img/logo.png" alt="logo" class="logo"></a>
    </div>
</div>


<div class="col-md-6 col-xs-6 col-md-offset-1 col-sm-7 col-lg-offset-1 col-lg-6 mobMenuCol">
    <nav class="navbar">
        <ul class="nav navbar-nav navbar-right menu">
            <li><a routerLink="/home" routerLinkActive='active' href="">home</a></li>
            <li><a routerLink="/about" href="">about</a></li>
            <li><a routerLink="/services" href="">services</a></li>
            <li><a routerLink="/pricing" href="">Orders</a></li>
            <li><a routerLink="/tracking" href="">tracking</a></li>
            <li><a routerLink="/contact" href="">contact</a></li>
            <li><a routerLink="/profile" href="">profile</a></li>

        </ul>
    </nav>
</div>
<div class="signup">
    <ul class="nav navbar-nav">
        <li><a routerLink="/login" class='text-center' href="">login</a></li>
    </ul>
</div>
